@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: block;
    align-items: center;
    justify-content: center;
    transform: translateY(200px);
    background-color: #ccc;
}

table,th,td{
    border: 1px solid black;
    padding: 10px 10px;
    border-collapse: collapse;
}

.columns{
    transform: translateX(300px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* border: 1px solid green; */
    /* overflow: hidden; */
}

.header{
    background-color: bisque;
    color: #fff;
}

.bodyDetails tr td{
    text-align: start;
}

.btn{
    justify-content: space-between;
    margin-top: 15px;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateX(300px); 
    transition: background-color 0.5s ease;
}

.sbtn:hover,.ebtn:hover{
    background-color: pink;
}